<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>
<body>
<p>Today's articles at <span th:text="${link}"></span>:</p>
<ul>
    <ol >
        <li th:each="heading: ${headings}">
            <p th:text="${heading.receiveArticle()}"></p>
        </li>
    </ol>
</ul>
</body>
</html>